<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>

	<body class="on-add">
		<div id="app">
			<span class="on-class">12312312312</span>
			<span class="test on-add-d">123</span>
			<span bind-id="this.mouse()" id="id">456</span>
			<span class="test on-add-d">123</span>
			<span class="test on-add-d">123</span>
			<span class="test on-add-d">123</span>
		</div>

		<div id="app_1">

		</div>

		<input type="text" name="" id="" value="" />
		<a class="on-add">添加1</a>
		<a class="on-add1">添加2</a>

		<script type="text/template" id="temp_1">
			<div class="on-add">
				<%= this.a %>
			</div>
			<div>
				<%= (function(){return {a:this.b }})() %></div>
			<div>
				<%= this.c %>
			</div>
			<div>
				<%= this.d %>
			</div>
		</script>

		<script id="temp" type="text/template">
			<% 
				var aaa = 1234; 
				var bb = 123;
				if(aaa != 1){
					console.log(index++);
					console.log(_this);
				}
			%>
			<div class="<%= aaa %> on-class on-mouse">event</div>
			<% for(var i = 0;i<data.length;i++){ %>
				<div class='<%= i + 2 + 120 + 123 %> name'>
					123
					<%if(i != undefined){%>
					<span>
								<%= data[i] %>
							</span>
					<% } %>
					<% if(i == 1){ %>
					<div>
						<%= i + '123465789' %>-判断0</div>
					<% }else{ %>
					<div>456-判断1</div>
					<% } %>
					<%for(var a = 0;a<5;a++){%>
					<div>
						<%= a%>
					</div>
					<% } %>
				</div>
				<tmpl name='temp_1'></tmpl>
				<tmpl name='id'></tmpl>
				<div>
					<%= parseInt(data[i] * 10) %> -
					<%= (function(){return 1})() %>
				</div>
				<div>
					<%= parseInt(data[i] * 20) %> - 2
				</div>
				<div>
					<%= parseInt(data[i] * 30) %> - 3
				</div>
				<div>
					<%= parseInt(data[i] * 40) %> - 4
				</div>
				<div>
					<%= parseInt(data[i] * 50) %> - 5
				</div>
			<%}%>
		</script>

		<script src="src/js/tmlp.js" type="text/javascript" charset="utf-8"></script>

		<script>
			new Tmpl({
				el: "temp_1",
				data: {
					a: '节点1',
					b: '节点2',
					c: '节点3',
					d: '节点4'
				}
			}).data(null).appendTo('app_1', function() {
				console.log('yes')
			});
		</script>

		<script type="text/javascript">
			var index = 0;
			var app = new Tmpl({
				el: "temp",
				data: {
					a: 1,
					b: 2,
					a: [1, 2, 3, 4]
				},
				methods: {
					add: function(event, el) {
						var _this = this;
						el.setAttribute('value', ++el.value);
						var arr = [];
						this.data(this.a).appendTo("app", function() {
							console.log('success');
						});
						this.unbind(el, 'on-add');
						setTimeout(function() {
							_this.bind(el, 'on-add');
						}, 2000);
					},
					mouse: function() {
						console.log('mouse');
						return true;
					}
				},
				events: function() {
					this.on('on-add', 'click', this.add);
					this.on('on-add1', 'click', this.add);
					this.on('on-add1', 'mouseover', this.add);
					this.on('on-mouse', 'mouseover', this.mouse);
					this.on('on-class', 'click', this.mouse);
					this.on('on-add-d', 'dblclick', this.mouse);
				},
				mounted: function() {
					console.log('is OK');
					var arr = [];
					for(var i = 0; i < 1; i++) {
						arr.push(Math.random());
					}
					this.a = arr;
					this.data(this.a).appendTo("app", function() {
						console.log('success');
					});
				}
			});
			
			var d = document.createDocumentFragment();
			var div = document.createElement('div');
			div.innerHTML = 123;
			d.appendChild(div);
		</script>
	</body>

</html>