<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
		
	</head>
	<body>
		
		<tmpl-block name="title1">
			我是title1的东西
		</tmpl-block>
		
		<tmpl-block name="title">
			我是title的东西
		</tmpl-block>
		<div>
			<tmpl-block name="header"></tmpl-block>
		</div>
		<tmpl-block name="body"></tmpl-block>
		<!--<tmpl-include name="__TMPL__/tmpl2.tmpl"></tmpl-include>-->
	</body>
</html>

