<html>
	<head>
		<meta charset="UTF-8"/>
		<% var title = '老司机'; %>
		<title><%= title%></title>
	</head>
	<body>
		
		<tmpl-block name="title1">
			我是title1的东西
		</tmpl-block>
		
		<tmpl-block name="title">
			我是title的东西
		</tmpl-block>
		<div>
			<tmpl-block name="header"></tmpl-block>
		</div>
		<tmpl-block name="body"></tmpl-block>
		<script type="text/template">
			<tmpl-include name="name"></tmpl-include>
		</script>
	</body>
</html>

