<tmpl-extends file="__BASE__/base.tmpl"></tmpl-extends>

<tmpl-block name="body">
	<% for(var i = 0;i<data.length;i++){ %>
		<div class="g-media mg-t-10 pd-10  g-bg-primary">
			<div class="g-media-head">
				<img src="" class="wh-64 radius-50perc" />
			</div>
			<div class="g-media-body">
				<h4 class="g-media-title">模板1-<%= data[i] %></h4>
				<p class="g-media-content on-show-detailed">
					<%= data %>
				</p>
				<div class="g-media-other-msg">
					<time><a href="#/tm1/index"><%= new Date() %></a></time>
				</div>
			</div>
		</div>
	<% } %>
	<div>__TMPL__</div>
	<% for(var j = 0;j<2;j++){ %>
		<%= i %>
		<tmpl-include id="123" file="__TMPL__/tmpl2.tmpl"></tmpl-include>
		<tmpl-include file="__TMPL__/tmpl3.tmpl">
			<div>并没有tmpl3.tmpl</div>
		</tmpl-include>
		<textarea>
			<%= _this_ %>
		</textarea>
	<% } %>
</tmpl-block>

<tmpl-block name="header">
	<header>
		<tmpl-include name="__TMPL__/tmpl10.tmpl"></tmpl-include>
		<title>title</title>
	</header>
</tmpl-block>

