<div class="row view" id="tmp1">
	<h3>tm1</h3>
	<div class="content">

	</div>
	<div class="row pd-10 t-c">
		<button class="g-btn g-btn-primary g-btn-radius on-add-tmpl">add</button>
	</div>
</div>

<script type="text/template" id="tmpl1">
	<% for(var i = 0;i<data.length;i++){ %>
	<div class="g-media mg-t-10 pd-10  g-bg-primary">
		<div class="g-media-head">
			<img src="" class="wh-64 radius-50perc" />
		</div>
		<div class="g-media-body">
			<h4 class="g-media-title">模板1-<%= data[i] %></h4>
			<p class="g-media-content on-show-detailed">
				<%= data %>
			</p>
			<div class="g-media-other-msg">
				<time><a href="#/tm1/index"><%= new Date() %></a></time>
			</div>
		</div>
	</div>
	<% } %>
</script>

<script type="text/javascript">
	_require.loadModules('@tjs/tmpl1.js');
	_require.use(function() {
		_require('@tjs/tmpl1.js')();
	});
</script>