<div class="row view" id="tmp1">
	<h3>tm1</h3>
	<div class="content">

	</div>
	<div class="row pd-10 t-c">
		<button class="g-btn g-btn-primary g-btn-radius on-add-tmpl">add</button>
	</div>
</div>

<script type="text/template" id="tmpl1">
	<% for(var i = 0;i<data.length;i++){ %>
	<div class="g-media mg-t-10 pd-10  g-bg-primary" id="id<%= data[i] %>">
		<div class="g-media-head">
			<img src="" class="wh-64 radius-50perc" />
		</div>
		<div class="g-media-body">
			<h4 class="g-media-title">模板1-<%= data[i] %></h4>
			<p class="g-media-content on-show-detailed">
				<%= data %>
			</p>
			<div class="g-media-other-msg">
				<time><a href="#/tm1/index"><%= new Date() %></a></time>
			</div>
		</div>
	</div>
	<% } %>
	
	<%= _this_.htmlEncode('<div name="123" haha="456" >123</div>') %>

	<% for(var j = 0;j<2;j++){ %>
		<tmpl-include name="temp-1"></tmpl-include>
		<tmpl-include name="temp-3">
			<div>没有就显示我</div>
		</tmpl-include>
		<tmpl-include name="temp-2"></tmpl-include>	
	<% } %>
</script>

<script type="text/template" id="m-btn">
	<a href="javascript:;" class='tmpl-router-anchor g-btn g-btn-primary' tmpl-anchor="id<%= data%>" tmpl-anchor-top="-38"><%= data%></a>
</script>

<script type="text/template" id="temp-1">
	<div>template1</div>
</script>

<script type="text/template" id="temp-2">
	<div>template2</div>
</script>

<script type="text/javascript">
	_require.loadModules('@tjs/tmpl1.js');
	_require.use(function() {
		_require('@tjs/tmpl1.js')();
	});
</script>