<html>
	<head>
		<meta charset="UTF-8"/>
		<% var title = '老司机'; %>
		<title><%= title%></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="/dist/js/tmpl.min.js"></script>
	</head>
	<body>
		<tmpl-block name="title">
			<div>
				这是第一个title
			</div>
		</tmpl-block>
		<tmpl-block name="title">
			<div>
				没有title
			</div>
		</tmpl-block>
		<tmpl-block name="header">
			没有header部分
		</tmpl-block>
		<tmpl-block name="body">
			<div class="none">append,body部分</div>
		</tmpl-block>
		<tmpl-block name="footer">
			<div>没有footer</div>
		</tmpl-block>
		<script type="text/template">
			<tmpl-include name="name"></tmpl-include>   
		</script>
	</body>
</html>

