<tmpl-extend file="__BASE__/base.html"/>

<tmpl-block name="body">
	<% for(var i = 0;i<data.length;i++){ %>
		<div class="g-media mg-t-10 pd-10  g-bg-primary" style="background-color:
			<%if(i%2 == 0){%>
				blue
			<%}else{%>
				red
			<%}%>
		;">
			<div class="g-media-head">
				<img src="" class="wh-64 radius-50perc" />
			</div>
			<div class="g-media-body">
				<h4 class="g-media-title">模板1-<%= data[i] %></h4>
				<p class="g-media-content on-show-detailed">
					<%= data %>
				</p>
				<div class="g-media-other-msg">
					<time><a href="#/tm1/index"><%= new Date() %></a></time>
				</div>
			</div>
		</div>
	<% } %>
	<div>__TMPL__</div>
	<% for(var j = 0;j<2;j++){ %>
		<tmpl-include id="123" file="__TMPL__/tmpl2.tmpl">			
			<span>text-value</span>
		</tmpl-include>
		<div style="
			background-color:<%= j == 0?'red':'blue' %>
		">
			<%= i %>
		</div>
		<tmpl-include id="123" file="__TMPL__/tmpl2.tmpl"></tmpl-include>
		<tmpl-include file="__TMPL__/tmpl3.tmpl"></tmpl-include>
		<tmpl-include error error-msg="test"></tmpl-include>
		<textarea>
			<%= _this_ %>
		</textarea>
	<% } %>
	
	<!-- <%- 123456 + 456 + '<div>这是测试</div>' %> -->
	
	
</tmpl-block>

<tmpl-block name="header">
	<header>
		<tmpl-include name="__TMPL__/tmpl10.tmpl"></tmpl-include>
		<h1>title123</h1>
	</header>
</tmpl-block>

<tmpl-block name="insert:title">
	我是title1
</tmpl-block>


