<div class="row view" id="tmp1">
	
</div>

<script type="text/template" id="detail">
	<div>
		<h3><%= state['title'] %></h3>
		<p><%= state['content'] %></p>	
	</div>
</script>

<script type="text/javascript">
	demand.loadModule('@tjs/detail.js');
	demand(function() {
		demand('@tjs/detail.js');
	});
</script>