<div class="row view" id="tmp3">
	<h3>tm3</h3>
	<div class="content">

	</div>
	<div class="row pd-10 t-c">
		<button class="g-btn g-btn-success g-btn-radius on-add-tmpl" id="add-tmpl3">add</button>
	</div>
</div>

<script type="text/template" id="tmpl3">
	<% for(var i = 0;i<5;i++){ %>
	<div class="g-media mg-t-10 pd-10  g-bg-success">
		<div class="g-media-head">
			<img src="" class="wh-64 radius-50perc" />
		</div>
		<div class="g-media-body">
			<h4 class="g-media-title">模板3-<%= i %></h4>
			<p class="g-media-content on-show-detailed">
				<%= _this_ %>
			</p>
			<div class="g-media-other-msg">
				<time><%= new Date() %></time>
			</div>
		</div>
	</div>
	<% } %>
</script>

<script type="text/javascript">
	demand.loadModule('@tjs/tmpl3.js');
	demand.use(function(){
		demand('@tjs/tmpl3.js')();
	});
</script>