<div class="row view" id="tmp2">
	<h3>tm2</h3>
	<div class="content">

	</div>
	<div class="row pd-10 t-c">
		<button class="g-btn g-btn-danger g-btn-radius on-add-tmpl">add</button>
	</div>
</div>

<script type="text/template" id="tmpl2">
	<% for(var i = 0;i<5;i++){ %>
	<div class="g-media mg-t-10 pd-10  g-bg-danger">
		<div class="g-media-body">
			<h4 class="g-media-title">模板2-<%= i %></h4>
			<p class="g-media-content on-show-detailed">
				<%= _this_ %>
			</p>
			<div class="g-media-other-msg">
				<time><%= new Date() %></time>
			</div>
		</div>
		<div class="g-media-head g-media-head-right">
			<img src="" class="wh-64 radius-50perc" />
		</div>
	</div>
	<% } %>
</script>

<script type="text/javascript">
	var module = '@tjs/tmpl2.js?time=' + new Date().getTime();
	demand.loadModule(module);
	demand(function() {
		demand(module)();
	});
</script>